langchain
streamlit
langchain_groq
python-dotenv
langchain_community
langchain_core
langchain_experimental
pymongo
PyPDF2
langchain_mongodb
pymupdf
pytesseract
pdf2image
pillow
pinecone-client
pinecone-text
langchain-pinecone
langchain-classic
transformers >= 4.41
sentence-transformers == 2.7.0
langchain-huggingface